@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

/* #EE4ACB
#4AC6EE
#49E644
#ECEE4E
#965AF7
#DA5AF7
 */


.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro{
    width:700px;
    height: 120px;
    text-align: center;
    font-family:  'Open Sans', sans-serif;
    border-bottom: 3px solid black;
}

.boxes{
    width: 1100px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.boxes>div{
    width: 320px;
    height: 240px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px 10px black;
}

.color{
    width: 320px;
    height: 30px;

}

.image{
    width: 320px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.circle{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.square{
    width: 20px;
    height: 15px;
    background-color: white;
    transform: rotate(45deg);
    transform: skewX(20deg);
}

#circle1{
    background-color:#EE4ACB;
}
#circle2{
    background-color: #4AC6EE;
}
#circle3{
    background-color: #49E644;
}
#circle4{
    background-color: #ECEE4E;
}
#circle5{
    background-color: #965AF7;
}
#circle6{
    background-color: #DA5AF7;
}


.title{
    width: 320px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
}


.about{
    width: 310px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
}

#color1,#button1{
    background-color: #EE4ACB;
}
#color2,#button2{
    background-color: #4AC6EE;
}
#color3,#button3{
    background-color: #49E644;
}
#color4,#button4{
    background-color: #ECEE4E;
}
#color5,#button5{
    background-color: #965AF7;
}
#color6,#button6{
    background-color: #DA5AF7;
}

.knowmore{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    padding-bottom: 3px;
}

.knowmore>button{
    background-color: #49E644;
    color: white;
    font-family:'Open Sans', sans-serif;
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 40px;
}

.contactus{
    background-color:#965AF7;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font: 'Open Sans', sans-serif;
    color: white;
}

button:hover{
    transform: scale(1.05);
}
button:active{
    transform: scale(0.95);
}